---
import LayoutDefault from "src/layouts/LayoutDefault.astro";
import postInfo, { allCategory } from "post:info";
import { category as categoryInfo } from "@/meta/category.yaml";
import PostInfoBrief from "~/components/PostInfoBrief.astro";
import TagList from "~/components/TagList.astro";

// import PostMeta from "src/components/PostMeta.astro";

export async function getStaticPaths() {
  return Object.keys(allCategory).map(category => ({ params: { category } }));
}

const { category } = Astro.params as {
  category: string
};

// const { default: Content, excerpt, metadata: meta } = await postImport[slug]();
---

<LayoutDefault
  title={categoryInfo[category].name}
  description={categoryInfo[category].description}
>
  <Fragment slot="head"></Fragment>
  <Fragment slot="headline">
    <p>{categoryInfo[category].description}</p>
  </Fragment>
  <main class="flex flex-col gap-5">
    <TagList category={category} />
    <section class="flex flex-col gap-2">
      {
        allCategory[category].map(slug => (
          <PostInfoBrief hideCategory={true} info={postInfo[slug]} />
        ))
      }
    </section>
  </main>
</LayoutDefault>
