---
import LayoutDefault from "src/layouts/LayoutDefault.astro";

const labItems = [
  {
    title: "Typesetting",
    icon: "i-mdi-typewriter",
    url: "typesetting",
  },
]
---

<LayoutDefault
  title="Lab"
  description="Experiments on Yixuan Wang's blog."
  noComments={true}
>
  <main class="grid grid-cols-[auto_1fr] gap-1 items-center">
    {labItems.map(({ title, icon, url }) => (
      <>
        <div class="text-one">
          <div class={icon} />
        </div>
        <a href={new URL(`${import.meta.env.BASE_URL}lab/${url}`, Astro.site)}>{title}</a>
      </>
    ))}
  </main>
</LayoutDefault>

<style>
  a {
    @apply px-2 py-1 rounded transition-lively @hover-text-one-front @hover-bg-one-back;
  }
</style>