---
import LayoutEmpty from "src/layouts/LayoutEmpty.astro";
import BaseHead from "~/components/BaseHead.astro";

import PostInfo, { timeDesc } from "post:info";
import PostInfoFull from "src/components/PostInfoFull.astro";

import ColorPalette from "src/components/ColorPalette.astro";
import FriendList from "src/components/FriendList.astro";
---

<LayoutEmpty hasScrollToTop={true}>
  <Fragment slot="head">
    <BaseHead title="Pak" description="Yixuan Wang's blog." noSuffix={true} />
    <meta property="og:image" content={new URL("/favicon.svg", Astro.site)} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:type" content="website" />
  </Fragment>

  <header class="flex flex-col">
    <h1 class="text-7xl font-bold mb-1 text-one">Pak</h1>
    <p class="text-3xl font-bold mb-3 text-one-front">Yixuan Wang's Blog</p>
    <p class="text-xl font-mono"><span>|</span><span class="text-two">_</span><span>|</span><span>&nbsp;</span><span class="text-two-front">todo!</span><span>()</span></p>
  </header>

  <section class="card bg-one-back grid grid-cols-[auto_auto_1fr] items-center gap-x-3 gap-y-2">
    <div class="i-mdi-clock text-one"></div>
    <div>Latest</div>
    <div>
      {}
      <span
        class="flex gap-1 @hover-text-one-front transition-lively"
      >
        <a
          class="inline"
          href={new URL(`${import.meta.env.BASE_URL}post/${PostInfo[timeDesc[0]].slug}`, Astro.site)}
        >
          <span class="ub">{PostInfo[timeDesc[0]].meta.title}</span>
        </a>
      </span>
    </div>
    <div class="i-mdi-circle-half-full text-one"></div>
    <div>Palette</div>
    <ColorPalette />
    <div class="text-one-front i-mdi-account-circle"></div>
    <div class="col-span-2">
      <a class="text-one-front ub transition-lively @hover-text-one" title="Friends" href="#friend">
        Friends
      </a> 
    </div>
    <div class="text-one-front i-mdi-school"></div>
    <div class="col-span-2">
      <a class="text-one-front ub transition-lively @hover-text-one" title="Academia" href={new URL(`${import.meta.env.BASE_URL}academia`, Astro.site)}>
        Academic posts
      </a>
    </div>
    <div class="text-two i-mdi-information"></div>
    <div class="col-span-2">
      <a class="out-link text-two-front ub transition-lively @hover-text-two" title="Am" href="https://am.yixuan-wang.site" rel="noopener" target="_blank">
        About me
      </a>
    </div>
  </section>

  <section id="recent-posts" class="flex flex-col gap-3">
    <h2 class="text-2xl font-bold text-one-front">Recent Posts</h2>
    {timeDesc.slice(0, 10).map(key => <PostInfoFull info={PostInfo[key]} />)}
  </section>

  <section id="friend" class="flex flex-col gap-3">
    <h2 class="text-2xl font-bold text-one-front">Friends</h2>
    <FriendList />
  </section>

  <div role="none" class="mb-10"></div>
</LayoutEmpty>

<style is:global>
  #the-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #the-main .friends-list .tip {
    @apply bg-one-front text-one-back;
  }
</style>

<style>
.index-sec-list a:not(.out-link) {
  @apply text-one-front @hover-text-one-front transition-lively cursor-pointer;
}

.index-sec-list a.out-link {
  @apply text-two-front @hover-text-two-front transition-lively cursor-pointer;
}
</style>