---
import LayoutDefault from "src/layouts/LayoutDefault.astro";
import postInfo from "post:info";

import "src/styles/post.css";
import PostMeta from "src/components/PostMeta.astro";
import TheToc from "~/components/TheToc.astro";
import CalloutStatus from "~/components/CalloutStatus.astro";
import { Status } from "~/logic/status";

export async function getStaticPaths() {
  return Object.values(postInfo).map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params as {
  slug: string;
};

let postImport;
if (import.meta.env.MODE === "development") {
  postImport = { [slug]: () => import(/* @vite-ignore */ `/@id/post:${slug}.astro`) };
}
else {
  postImport = (await import("post:import")).default;
}

const {
  default: Content,
  excerpt,
  metadata: meta,
  toc,
  componentNames,
  // @ts-ignore
} = await postImport[slug]();
---

<LayoutDefault title={meta.title} description={excerpt}>
  <Fragment slot="head">
    {
      componentNames?.includes("Math") ? (
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"
          crossorigin="anonymous"
        />
      ) : null
    }
    

    {
      componentNames?.includes("Mermaid") ? (
        <script is:inline type="module">
          import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
          document.addEventListener("DOMContentLoaded", function() {
            mermaid.initialize({
              securityLevel: 'loose',
              theme: 'neutral',
              fontFamily: 'inherit',
            });
          }); 
        </script>
      ) : null
    }
  </Fragment>
  <Fragment slot="headline">
    <PostMeta meta={meta} />
  </Fragment>
  <main id="md" lang={meta.lang ?? "zh-Hans"}>
    {toc ? <TheToc {toc} /> : null}
    <Content>
      <Fragment slot="foldout">
        {
          meta.status !== Status.FINISHED ? (
            <CalloutStatus
              status={meta.status}
              updated={meta.timeline.updated}
            />
          ) : null
        }
      </Fragment>
    </Content>
  </main>
</LayoutDefault>
