---
import LayoutDefault from "src/layouts/LayoutDefault.astro";
import postInfo from "post:info";
import postImport from "post:import";

import "src/styles/post.css";
import PostMeta from "src/components/PostMeta.astro";
import TheToc from "~/components/TheToc.astro";
import CalloutStatus from "~/components/CalloutStatus.astro";
import { Status } from "~/logic/status";

export async function getStaticPaths() {
  return Object.values(postInfo).map(({ slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params as {
  slug: string
};

const { default: Content, excerpt, metadata: meta, toc } = await postImport[slug]();
---

<LayoutDefault title={meta.title} description={excerpt}>
  <Fragment slot="head">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css"
      crossorigin="anonymous"
    />
  </Fragment>
  <Fragment slot="headline">
    <PostMeta meta={meta} />
  </Fragment>
  <main id="md" lang={meta.lang ?? "zh-Hans"}>
    { toc ? <TheToc {toc} /> : null }
    <Content>
      <Fragment slot="foldout">
        { meta.status !== Status.FINISHED ? <CalloutStatus status={meta.status} updated={meta.timeline.updated} /> : null }
        <!-- <p class="my-4">Hi! from foldout.</p> -->
      </Fragment>
    </Content>
  </main>
</LayoutDefault>
