---
import BaseHover from './BaseHover.astro';

export interface Props {
  friend: friend.Friend
}

const {
  friend: { name, avatar, link },
} = Astro.props;
const outlink = { rel: "noopener", target: "_blank" };
---

<article class="contents">
  <img class="rounded-1/2 w-8 h-8" src={avatar} alt={`Avatar of ${name}`} />
  <div class="font-mono transition-lively">{name}</div>
  <div class="friends-list flex flex-row gap-1.5 items-center">
    {
      link.github
      ? (
        <BaseHover>
          <a slot="handle" title={`GitHub of ${name}`} href={link.github} {...outlink}
          >
            <div class="i-mdi-github"></div>
          </a>
          <div slot="content" class="tip">GitHub</div>
        </BaseHover>
      )
      : null
    }
    {
      link.homepage
        ? (
        <BaseHover>
          <a slot="handle" title={`Home Page of ${name}`} href={link.homepage} {...outlink}>
            <div class="i-mdi-home" />
          </a>
          <div slot="content" class="tip">Home Page</div>
        </BaseHover>
          )
        : null
    }
    {
      link.blog
        ? (
        <BaseHover>
          <a slot="handle" title={`Blog of ${name}`} href={link.blog} {...outlink}>
            <div class="i-mdi-blog" />
          </a>
          <div slot="content" class="tip">Blog</div>
        </BaseHover>
          )
        : null
    }
  </div>
</article>

<style>
  .friends-list :global(.hover-component-container) {
    @apply justify-center;
  }

  .friends-list :global(.hover-component-content) {
    @apply top-[calc(100%+0.25rem)] bottom-unset;
  }

  .friends-list a {
    @apply text-one-front @hover-text-one transition-lively;
  }
</style>