---

export interface Props {
  id?: string
  style?: string
}

const { id, style } = Astro.props;

const onmouseenter = `if(window.matchMedia("(pointer: fine)").matches) {
  this.querySelector('.hover-component-content').style.display='block';
}`;

const onmouseleave = `if(window.matchMedia("(pointer: fine)").matches) {
  const content = this.querySelector('.hover-component-content');
  if (!content.getAttribute("pinned")) content.style.display='none';
}`;

const onmousedown = `if(!window.matchMedia("(pointer: fine)").matches) {
  this.querySelector('.hover-component-content').style.display='block';
}`;

const onmouseup = `if(!window.matchMedia("(pointer: fine)").matches) {
  const content = this.querySelector('.hover-component-content');
  if (!content.getAttribute("pinned")) content.style.display='none';
}`;
---

<div {id} class="hover-component-container" {style} {onmouseenter} {onmouseleave}>
  <div class="hover-component-handle" {onmousedown} {onmouseup}>
    <slot name="handle"></slot>
  </div>
  <div class="hover-component-content">
    <slot name="content"></slot>
  </div>
</div>

<style>
.hover-component-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.hover-component-handle {
  display: contents;
}

.hover-component-content {
  position: absolute;
  display: none;
  width: max-content;
  bottom: calc(100% + 0.5rem);
}
</style>
