---
import BaseFriendSocial from './BaseFriendSocial.astro';

export interface Props {
  friend: friend.Friend
}

const {
  friend: { name, avatar, link },
} = Astro.props;
---

<article 
  class="card flex flex-col gap-1 @hover:bg-one-back transition-lively"
  role="link"
>
  <img class="rounded-1/2 w-8 h-8 row-[1/3]" src={avatar} alt={`Avatar of ${name}`} />
  <h2 class="font-mono transition-lively">{name}</h2>
  <BaseFriendSocial {name} {link} brief />
</article>

<style>
  @media (hover: hover) and (pointer: fine) {
    article:hover :global(.friends-list a) {
      @apply text-one;
    }
  }

  :global(.friends-list a) {
    @apply @hover-text-two;
  }
</style>
