---

export interface Props {
  id?: string
  style?: string
}

const { id, style } = Astro.props;

const onmouseenter = `if(window.matchMedia("(pointer: fine)").matches) {
  this.querySelector('.hoverpop-content').style.display='block';
}`;

const onmouseleave = `if(window.matchMedia("(pointer: fine)").matches) {
  const content = this.querySelector('.hoverpop-content');
  if (!content.getAttribute("pinned")) content.style.display='none';
}`;

const onclick = `const content = this.parentElement.querySelector('.hoverpop-content');
if (content.getAttribute("pinned")) {
  content.attributes.removeNamedItem("pinned")
  content.style.display='none';
} else {
  content.setAttribute("pinned","pinned")
  content.style.display='block';
}`;
---

<div {id} class="hoverpop-container" {style} {onmouseenter} {onmouseleave}>
  <div class="hoverpop-handle" {onclick}>
    <slot name="handle"></slot>
  </div>
  <div class="hoverpop-content">
    <slot name="content"></slot>
  </div>
</div>

<style>
.hoverpop-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.hoverpop-handle {
  display: contents;
}

.hoverpop-content {
  position: absolute;
  display: none;
  width: max-content;
  bottom: calc(100% + 0.25rem);
}
</style>
