---
import ColorPaletteButton from "src/components/ColorPaletteButton.svelte";
import BaseHover from "src/components/BaseHover.astro";
import type { ColorPaletteSetting } from "src/stores/color-palette";
import { DEFAULT_COLOR_PALETTE } from "src/logic/color-palette-default";

interface PrebuildColorPalette extends ColorPaletteSetting {
  name: string;
}

const prebuiltColorPalettes: PrebuildColorPalette[] = [
  {
    name: "Flame",
    one: {
      mode: "oklch",
      l: 0.6100,
      c: 0.215,
      h: 23.81,
    },
    /* 62.97% 0.218 18.81 */
    two: {
      mode: "oklch",
      l: 0.6926,
      c: 0.156,
      h: 33.02,
    },
  },
  {
    name: "Honey",
    one: {
      mode: "oklch",
      l: 0.7701,
      c: 0.170,
      h: 57.10,
    },
    two: {
      mode: "oklch",
      l: 0.8222,
      c: 0.169,
      h: 80.91,
    },
  },
  {
    name: "Chloroplast",
    one: {
      mode: "oklch",
      l: 0.5676,
      c: 0.138,
      h: 148.33,
    },
    two: {
      mode: "oklch",
      l: 0.6626,
      c: 0.113,
      h: 170.23,
    },
  },
  {
    name: "Ocean",
    ...(DEFAULT_COLOR_PALETTE as ColorPaletteSetting),
  },
  {
    name: "Dream",
    one: {
      mode: "oklch",
      l: 0.3875,
      c: 0.159,
      h: 273.84,
    },
    two: {
      mode: "oklch",
      l: 0.6138,
      c: 0.179,
      h: 296.66,
    },
  },
  {
    name: "Rock",
    one: {
        mode: "oklch",
        l: 0.5120,
        c: 0.056,
        h: 220.00,
    },
    two: {
        mode: "oklch",
        l: 0.5500,
        c: 0.015,
        h: 0.00,
    },
  }

];
---

<div class="px-2 py-1 flex flex-row flex-wrap gap-2 items-center">
  {
    prebuiltColorPalettes.map((color, index) => (
      <BaseHover>
        <ColorPaletteButton
          slot="handle"
          client:idle
          palette={color}
          title={color.name}
        />
        <div
          slot="content"
          class="px-1.5 py-1 rounded text-sm"
          style={{
            '--color': `oklch(60% ${color.one.c} ${color.one.h})`,
            color: "oklch(from var(--color) 90% calc(c * 0.75) h)",
            "background-color": "oklch(from var(--color) 45% calc(c * 0.45) h)",
          }}
        >
          <span>{color.name}</span>
        </div>
      </BaseHover>
    ))
  }
</div>
