---
import PostMeta from "./PostMeta.astro";
import { STATUS_META, Status } from "~/logic/status";

export interface Props {
  info: post.PostInfo
}

const {
  info: { slug, meta, excerpt },
} = Astro.props;
---

<article class="card flex flex-col gap-1 @hover-bg-one-back transition-lively">
  <h2 class="inline-flex gap-1 text-2xl font-bold @hover-text-one-front transition-lively">
    <a href={new URL(`${import.meta.env.BASE_URL}post/${slug}`, Astro.site)}>{meta.title}</a>
    { meta.status !== Status.FINISHED ? <span class="text-sm"><div class={STATUS_META[meta.status].icon}></div></span> : null }
  </h2>
  <p>{excerpt}</p>
  <PostMeta meta={meta} />
</article>
