---
import { lightFormat } from "date-fns";
import { decideTimeFromStatus } from "src/utils/time";
import { STATUS_META, Status } from "~/logic/status";

export interface Props {
  info: post.PostInfo
  timeFormat?: string
  hideCategory?: boolean
}

const {
  info: { slug, meta },
  hideCategory,
  timeFormat = "yyyy/MM/dd"
} = Astro.props;
---

<article class="flex flex-row flex-gap-[0_1rem] items-baseline">
  <span class="font-mono">
    <time>{lightFormat(decideTimeFromStatus(meta), timeFormat)}</time>
  </span>
  {
    !hideCategory
      ? (
      <a
        class="lt-sm:hidden @hover-text-one-front font-mono transition-lively"
        href={new URL(`${import.meta.env.BASE_URL}category/${meta.taxonomy.category}`, Astro.site)}
      >
        <span>{meta.taxonomy.category}</span>
      </a>
        )
      : null
  }
  <span
    class="flex gap-1 @hover-text-one-front transition-lively"
  >
    <a
      class="inline"
      href={new URL(`${import.meta.env.BASE_URL}post/${slug}`, Astro.site)}
      style={meta.status === Status.OUTDATED ? "text-decoration-line: line-through;" : ""}
    >
      <span class="ub">{meta.title}</span>
    </a>
    { meta.status !== Status.FINISHED ? <span class="text-sm"><div class={STATUS_META[meta.status].icon}></div></span> : null }
  </span>
</article>
