---
import { lightFormat } from "date-fns";
import { decideTimeFromStatus } from "src/utils/time";

export interface Props {
  info: post.PostInfo
}

const {
  info: { slug, meta },
} = Astro.props;
---

<article class="flex flex-row flex-gap-[0_1rem] items-baseline">
  <span class="font-mono">
    <time>{lightFormat(decideTimeFromStatus(meta), "MM/dd")}</time>
  </span>
  <a
    class="lt-sm:hidden @hover-text-one-front font-mono transition-lively"
    href={new URL(`${import.meta.env.BASE_URL}category/${meta.taxonomy.category}`, Astro.site)}
  >
    <span>{meta.taxonomy.category}</span>
  </a>
  <a
    class="@hover-text-one-front transition-lively"
    href={new URL(`${import.meta.env.BASE_URL}post/${slug}`, Astro.site)}
  >
    <span class="ub">{meta.title}</span>
  </a>
</article>
