---
import BaseHover from "./BaseHover.astro";

interface HeaderItem {
  title: string;
  icon: string;
  url: string;
  absolute?: boolean;
}
const headerItems: HeaderItem[] = [
  {
    title: "Archive",
    icon: "i-mdi-inbox",
    url: "archive",
  },
  {
    title: "Tags",
    icon: "i-mdi-drawing-box",
    url: "tags",
  },
  {
    title: "Search",
    icon: "i-mdi-text-box-search",
    url: "search",
  },
  {
    title: "Friends",
    icon: "i-mdi-account-box",
    url: "friends",
  },
  //{
  //  title: "Travelling",
  //  icon: "i-custom-travelling",
  //  url: "https://www.travellings.cn/go.html",
  //  absolute: true,
  //},
  {
    title: "Lab",
    icon: "i-mdi-developer-board",
    url: "lab",
  },
];
---

<header id="the-header">
  <nav id="the-header-start">
    <a href={new URL(import.meta.env.BASE_URL, Astro.site)} title="Home" aria-label="Home">
      <div class="i-mdi-circle" />
    </a>
  </nav>
  <div class="flex-1"></div>
  <nav id="the-header-end" class="gap-2">
    {
      headerItems.map(({ url, title, icon, absolute }) => (
        <BaseHover>
          <a
            slot="handle"
            title={title}
            href={absolute ? url : new URL(`${import.meta.env.BASE_URL}${url}`, Astro.site)}
          >
            <div class={icon} />
          </a>
          <div slot="content" class="tip">
            {title}
          </div>
        </BaseHover>
      ))
    }
  </nav>
</header>

<style is:global>
  #the-header nav a,
  #the-header nav button {
    @apply text-lg
      text-one @hover-text-one-front active:text-one-front transition-lively;
  }

  #the-header-end .hover-component-container {
    @apply justify-end lg:justify-center;
  }

  #the-header-end .hover-component-content {
    @apply top-[calc(100%+0.25rem)] bottom-unset;
  }
</style>
